*{
    padding: 0;
    margin: 0;
}

/* map size */
#breweryMap {
    height: 400px;
    width: 400px;
}

header{
    text-align: center;
    font-size: large;
    background-color: skyblue;
    padding: 20px;
}

input{
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: skyblue;
}

.card-body {
    border: solid black;
    border-radius: 3px;
    background-color: cornflowerblue;
    margin: auto;
    margin-top: 15%;
    width: 60%;
    height: 180px;
}