/** Styling - Lewis **/

*{
    padding: 0;
    margin: 0;
}

header{
    text-align: center;
    background-color: cornflowerblue;
    padding: 10px;
}

.card-body {
    border: solid black;
    border-radius: 3px;
    background-color: cornflowerblue;
    margin: auto;
    margin-top: 15%;
    width: 60%;
}

h5 {
    text-align: center;
}

input{
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

select {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn1 {
    width: 100%;
    border-radius: 10px;
    font-size: 20px;
}


.card-body {
    border: solid black;
    border-radius: 3px;
    background-color: cornflowerblue;
    margin: auto;
    margin-top: 15%;
    width: 60%;
    height: 180px;
    margin-bottom: 20px;
}

#brewerycard{

    display: block;
    width: 50vw;
    min-width: 500px;
    min-height: 300px;
    margin: 0px auto;
    padding: 20px;
    border: 2px solid grey;
    border-radius: 5px;
    box-shadow: 7px ​7px 10px 0px black;
    background: #ccddff;
}

/** Loading Icon from Font Awesome **/

#brewerycard p.loading-icon{
    display: none;
}

#brewerycard.loading{
    display:flex;
}

#brewerycard.loading p.loading-icon{
    display: block;
    margin: auto;
    text-align:center;
    align-self: center;
    font-size: 200%;
    padding-bottom: 20px;
}
